
<div class="container clearfix">
<h1>Eat-Da-Burger</h1>


<ul class="list-group float-left">
  {{#each burgers}}
    {{#unless devoured}}
      {{> burger/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>


<ul class="list-group float-right">
  {{#each burgers}}
    {{#if devoured}}
      {{> burger/burger-devoured devoured=false}}
    {{/if}}
  {{/each}}
</ul>
</div>

<br>


<div class="container display">
  <form class="row mx-auto create-form">

  <div class="row mx-auto form-group">
    <textarea id="quo" for="ba" name="quote" rows="8" cols="40"></textarea>
  </div>
  <div class="container">
  <p>Enter a burger you want to Eat. Then click Add Burger Button</p>
  </div>
  <button class="row-2 mx-auto submit" type="submit">Add Burger</button>
</form>
</div>