body {
  
  background-image: repeating-radial-gradient(#bf7300, #ffbc00);
  background-repeat: no-repeat;
  background-size: auto 250%;
}


img {
  width: 15%;
}


h1 {
  text-align: center !important;
}

p {
  text-align: center;
}

. {line-height: 100%;
}
.submit {
  
}

li {
  background-color: whitesmoke;
  margin-top: 10px;
  margin-bottom: 10px;
}
.change-devoured {
  margin-left: 5px;
}