body {
  
  background-image: repeating-radial-gradient(#bf7300, #ffbc00);
  background-repeat: no-repeat;
  background-size: auto 250%;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}


h1 {
  text-align: center;
}


.display {
  text-align: center;
}