

<li class="list-group-item col text-wrap clearfix">
	{{id}}. {{burger_type}}
	<button class="btn btn-secondary change-devoured float-right" data-id="{{id}}" data-newDevoured="{{devoured}}">devour</button>

</li>